<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">A reconstruction of projection image on compound eye of heneybee</h2>
<div class="visiomess_author">
  Hidetoshi IKENO<br />
  ikeno@hept.himeji-tech.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Original Report</h4>
<p>
A reconstruction method of projection image on worker honeybees' compound
eye, Hidetoshi Ikeno, Neurocomputing, Vol. 52-54, 561-566, 2003.
</p>
</div>

<div class="visiomess_section">
<h4>MODEL</h4>
<p>
In presented method, projection image on the compound eye is reconstructed
based on the calculation of brightness of each ommatidium surface lens. It
is need to determine the coordinate of each ommatidium and direction view
field vector. Ommatidia were arranged vertically from ventral boundary 45
degree to dorsal one 49 degree. Z coordinates for ommatidia are determined
by circle on YZ plane with radius 2mm. Arrangements of ommatidia was
started horizontally from 9 degree to 43 degree on the virtual circle.
Decreasing of number of horizontal ommatidia was started at 38 degrees
both ventrally and dorsally. The characteristics of decreasing was
approximated by 2nd order function.
</p>
</div>

<div class="visiomess_section">
<h4>References</h4>
<ol>
  <li>
A reconstruction method of projection image on worker honeybees' compound
eye,Hidetoshi Ikeno, Neurocomputing, Vol. 52-54, 561-566, 2003.
  </li>
</ol>
</div>

<hr />

<!-- main -->
<div class="visiomess_section">
<h3>Abstract</h3>
<p>
Visual perception by insect compound eyes have been interested in visual
science fields for revealing neuronal principals of vision, and applying
their small and simple structures to the artificial vision system. In order
to investigate the animal behavior which related with sensory stimuli, it
is important to take account into real input signals for nervous system. In
the case of insect with compound eye, the projected scenery on compound eye
is basic signal for visual information processing. In this paper, it is
presented a reconstruction method of projected image on honeybee compound
eye. This method can be estimated illuminance change of a single ommatidium
surface. It would be applied to analysis of relevance between input images
and retinal responses. 
</p>
</div>
</patTemplate:tmpl>
