<patTemplate:tmpl name="main">
<div class="visiomess_section">
<h4>Save Simulation Conditions</h4>

<div class="visiomess_parameter">
Vertical allocation step of ommatidium (degree): {STEP_PH}<br />
Horizontal allocation step of ommatidium (degree): {STEP_TH}<br />
Distance between the center of figure and compund eye (mm): {FIG_CENTER_X}, {FIG_CENTER_Y}, {FIG_CENTER_Z}<br />
Angle of figure (degree): {FIG_ANGLE_H}, {FIG_ANGLE_V}<br />
Figure pixel size (mm): {FIG_DOT_D}<br />
Figure file: {FIG_FILE}.pgm<br />
</div>

</div>
</patTemplate:tmpl>
