<div class="visiomess_main">

<h3>Contents of Simulation Server</h3>

<!-- Group 1 -->
<h4>Group 1: Neuroscience</h4>
<dl>

<dt>Sokabe</dt>
<dd>
  <a href="?s=sokabe&amp;p=plot1"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=sokabe&amp;p=plot2"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=sokabe">A Structure-Function Study on a de novo Synthetic Hydrophobic Ion Channel</a>
</dd>

<dt>Ichikawa</dt>
<dd>
  <a href="?s=ichikawa&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=ichikawa">AMPA receptor channel kinetics in cerebellar Purkinje cell</a>
</dd>

<dt>Miyakawa</dt>
<dd>
  <a href="?s=miyakawa1&amp;p=plot"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=miyakawa1">Dependence of linearity on the inter-stimulus interval under blockade of GABA receptors</a>
</dd>
<dd>
  <a href="?s=miyakawa2&amp;p=plot"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=miyakawa2">Dendritic attenuation of synaptic potentiation in hippocampal CA1 pyramidal neurons</a>
</dd>

</dl>


<!-- Group 2 -->
<h4>Group 2: Retina</h4>
<dl>

<dt>Kaneko</dt>
<dd>
  <a href="?s=kaneko&amp;p=plot"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kaneko">Persistent Na current, fast Na current and Ca current in cultured amacrine cells</a>
</dd>

<dt>Tachibana</dt>
<dd>
  <a href="?s=tachibana&amp;p=plot"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=tachibana">Membrane current of ON-transient amacrine cells in the mouse retina</a>
</dd>

<dt>Kamiyama</dt>
<dd>
  <a href="?s=kamiyama1&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kamiyama1">Rod Photoreceptor Model</a>
</dd>

<dd>
  <a href="?s=kamiyama2&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kamiyama2">Revised Hodgkin-Huxley Model by Clay</a>
</dd>

<dd>
  <a href="?s=kamiyama3&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kamiyama3">Ionic Current Model of Bipolar Cell Soma</a>
</dd>

<dd>
  <a href="?s=kamiyama4&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kamiyama4"> A Stochastic Model of Retinal Ganglion Cell</a>
</dd>

<dd>
  <a href="?s=kamiyama5&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=kamiyama5">Ionic Current Model of Fish Retinal Horizontal Cell</a>
</dd>

</dl>

<!-- Group 3 -->
<h4>Group 3: Vision</h4>
<dl>

<dt>Fukushima</dt>
<dd>
  <a href="?s=fukushima&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=fukushima"><img src="images/vssJavaScript.png" alt="vssJS"/></a>
  <a href="?s=fukushima">Recognition of Partly Occluded Patterns: A Neural Network Model</a>
</dd>

<dt>Okamoto</dt>
<dd>
  <a href="?s=okamoto1"><img src="images/vssJavaScript.png" alt="vssJS"/></a>
  <a href="?s=okamoto1">Two types of bimodal direction tuning</a>
</dd>

<dd>
  <a href="?s=okamoto2"><img src="images/vssJava.png" alt="vssJava"/></a>
  <a href="?s=okamoto2">Algorithm of Local Velocity Detection</a>
</dd>

</dl>

<!-- Group 5 -->
<h4>Group 5: System</h4>
<dl>

<dt>Ikeno</dt>
<dd>
  <a href="?s=ikeno1&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=ikeno1">Current clamp simulation of Hodgkin-Huxley model</a>
</dd>

<dd>
  <a href="?s=ikeno2&amp;p=sim"><img src="images/vss.png" alt="vss"/></a>
  <a href="?s=ikeno2">Projection image on honeybee compound eyes</a>
</dd>

</dl>

</div>
