<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title"> A Stochastic Model of Retinal Ganglion Cell</h2>
<div class="visiomess_author">
   Yoshimi Kamiyama<br />
   kamiyama@ist.aichi-pu.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Original Report</h4>
<p>Kamiyama, Y. and Usui. S. (2002)
A stochastic model of spike generation in retinal ganglion cells
Society for Neuroscience</p>
</div>

<hr />

<!-- main -->
<div class="visiomess_section">
<p>This package contains the following files:</p>
<dl>
  <dt>Readme.txt</dt>
  <dd>This file.</dd>
  <dt>rgc-markov (for Linux)</dt>
  <dt>rgc-markov.exe (for Windows)</dt>
  <dd>Binary model files for the stochastic model of retinal ganglion cell.</dd>
  <dt>rgc-deterministic (for Linux)</dt>
  <dt>rgc-deterministic.exe.exe (for Windows)</dt>
  <dd>Binary model files for the deterministic model of retinal ganglion cell.</dd>
  <dt>vclamp-area.sl</dt>
  <dd>SATELLITE shell script file for voltage clamp with the model.
   The script writes the results in data files and displays the
   results in the GPM window.<br />The voltage-clamp step response of the
   membrane conductances, gNa, gCa, gK, gA will be displayed.</dd>
  <dt>cc-noise.sl</dt>
  <dd>SATELLITE shell script file for current clamp with the model.
   The script writes the results in 40 data files and displays the
   results in the GPM window.<br />Twenty superimposed spike responses
   and the raster plots to repeated DC and Gaussian current stimuli will
   be displayed.</dd>
</dl>
</div>

<div class="visiomess_section">
<h4>HOW TO RUN</h4>
<ol>
  <li>
    This package is running with SATELLITE system developed at Biological &amp; Physiological Engineering Laboratory, Toyohashi University of Technology. SATELLITE will be found in the followings:
    <ul>
      <li style="list-style: none outside;">http://satellite.sourceforge.jp/</li>
    </ul>
  </li>
  <li>Put all files in the same working directory.</li>
  <li>In the working directory, run SATELLITE by "sl" command.</li>
  <li>Execute the script by inline command, <br />
    [SATELLITE]% inline("vclamp-area.sl")<br />
    or<br />
    [SATELLITE]% inline("cc-noise.sl")<br />
    The simulated results will be displayed on the GPM window.</li>
</ol>
</div>

<div class="visiomess_section">
<p>For further information, please contact:</p>

<pre>
  Yoshimi Kamiyama (kamiyama@ist.aichi-pu.ac.jp)
  Faculty of Information System and Technology
  Aichi Prefectural University
  Nagakute, Aichi, 480-1198 Japan
</pre>
</div>
</patTemplate:tmpl>
