<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Dependence of linearity on the inter-stimulus interval under blockade of GABA receptors</h2>
<div class="visiomess_author">
  Ryosuke Enoki, Masashi Inoue, Yoshinori Hashimoto, Yoshihisa Kudo, and Hiroyoshi Miyakawa<br />
  miyakawa@ls.toyoku.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">

<div class="visiomess_figure">
  <a href="{VSS_IMAGE_DATA}fig1.gif" target="_blank"><img src="{VSS_IMAGE_DATA}fig1.png" alt="mdl_fig1"/></a>
  <p>
    <span class="visiomess_bold">Figure caption</span>
A: Representative traces of PSPs at an inter-stimulus interval (ISI) of
-10ms. Summation was sub-linear in normal conditions and in the presence of
20mM Bicuculline (BIC) plus 10mM Picrotoxin (PIC), but was nearly linear in
the presence of the combination of 20mM BIC, 10mmM PIC and 1mM
CGP55845A(CGP). Each trace is the average of 5-20 trials. B: Dependence of
the linearity on the ISI in the presence of blockers for GABAA receptors
(gray line), and in the presence of blockers for both GABAA and GABAB
receptors (light gray line). The asterisks indicate significant deviations
from linearity (Student t-test: *, p&lt;0.01; **, p&lt;0.05). Error bars
represent the SEM.
  </p>
</div>
</div>
</patTemplate:tmpl>
