<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Membrane current of ON-transient amacrine cells in the mouse retina</h2>
<div class="visiomess_author">
  Matsui K, Hasegawa J, Tachibana M
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<p>
The Microsoft Excel files contains data appeared in Matsui et al (2001).
</p>
</div>

<div class="visiomess_section">
<p>
In this paper, the membrane current of ON-transient amacrine cells in the
mouse retinal preparation was recorded under the whole-cell clamp, and it
was demonstrated that GABA-C receptors at the terminal of bipolar cells
modulate the amount of glutamate release. The data include A) time, B) the
timing of light stimulation, C) the membrane current recorded from
ON-transient type amacrine cells. 
</p>
</div>

<div class="visiomess_section">
<p>
Four data sets were obtained in the following conditions:
</p>

<ol>
 <li>control (Fig. 3C_1),</li>
 <li>blockade of NMDA receptors by D-AP5 (Fig. 3C_2),</li>
 <li>blockde of GABA-C receptors by TPMPA (Fig. 9A_1), and</li>
 <li>effects of D-AP5 and TPMPA (Fig. 9A_2).</li>
</ol>
</div>

<div class="visiomess_section">
<p>
The slice preparation was always superfused with the Mg-free solution
containing picrotoxin, strychnine, D-tubocrarine and atropine. 
</p>
</div>
</patTemplate:tmpl>
