<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Ionic Current Model of Bipolar Cell Soma</h2>
<div class="visiomess_author">
   Yoshimi Kamiyama and Akito Ishihara<br />
   kamiyama@ist.aichi-pu.ac.jp, ishihara@bpel.ics.tut.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Reference Paper</h4>
<p>Usui, S., Ishihara, A., Kamiyama, Y. and Ishii, H. (1996),
 Ionic current model of bipolar cells in lower vertebrate 
 retina, Vision Research, Vol.36, No.24, pp.4096-4076</p>
</div>

<hr />

<!-- main -->
<div class="visiomess_section">
<p>This package contains the following files:</p>
<dl>
  <dt>README</dt>
  <dd>This file.</dd>
  <dt>nrv-BCsoma.mdl</dt>
  <dd>Model descriptions written in NCS language.</dd>
  <dt>nrv-BCsoma.sl</dt>
  <dd>SATELLITE shell script file for running the model.</dd>
</dl>
</div>

<div class="visiomess_section">
<h4>HOW TO RUN</h4>
<ol>
  <li>
    This package is running with SATELLITE system developed at Biological &amp; Physiological Engineering Laboratory, Toyohashi University of Technology. SATELLITE will be found in the followings:
    <ul>
      <li style="list-style: none outside;">http://satellite.sourceforge.jp/</li>
    </ul>
  </li>
  <li>Put "nrv-BCsoma.mdl" and "nrv-BCsoma.sl" in the same working directory.</li>
  <li>In the working directory, run SATELLITE by "sl" command.</li>
  <li>Execute the script by "inline("nrv-BCsoma.sl")".</li>
</ol>
<p>The simulation results as in Figure 2 of the reference paper will be displayed on the screen.</p>
</div>

<div class="visiomess_section">
<p>For further information, please contact:</p>

<pre>
  Yoshimi Kamiyama (kamiyama@ist.aichi-pu.ac.jp)
  Faculty of Information System and Technology
  Aichi Prefectural University
  Nagakute, Aichi, 480-1198 Japan
</pre>
<p>&#36;Revision: 1.1 $ Last updated &#36;Date: 2001/02/05 08:36:30 &#36;</p>
</div>
</patTemplate:tmpl>
