<patTemplate:tmpl name="main">
<script type="text/javascript">
<!--
function visiomess_swap_image( num, type ) {
  var prefix = 'visiomess_{VSS_COMMON_SUBDIR}_';
  var el_a = document.getElementById( prefix + 'figure' + num + '_anchor' );
  var el_img = document.getElementById( prefix + 'figure' + num + '_img' );
  el_a.href = '{VSS_IMAGE_DATA_JS}Fig' + num  + type + '.gif';
  el_img.src = '{VSS_IMAGE_DATA_JS}Fig' + num + type + '.png';
  return false;
}
-->
</script>

<!-- Header -->
<h2 class="visiomess_title">Recognition of Partly Occluded Patterns: A Neural Network Model</h2>
<div class="visiomess_author">
  Kunihiko FUKUSHIMA<br />
  fukushima@karl.teu.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Reference Paper</h4>
<p>
Kunihiko Fukushima: "Recognition of partly occluded patterns: a neural network model", Biological Cybernetics, vol. 84, no. 4, pp. 251-259 (2001).
</p>
</div>

<div class="visiomess_section">
<h4>Related Paper</h4>
<p>
Kunihiko Fukushima: "Visual Pattern Recognition: Neural Network Models", ICICIS 2002 (First International Conference on Intelligent Computing and Information Systems), Cairo, Egypt, to appear (June 24-26, 2002).
</p>
</div>

<div class="visiomess_section">
<h4>Abstract</h4>
<p>
Human beings often can easily recognize a pattern that is partly occluded
by other objects, but have difficulty in recognizing it if the occluding
objects become invisible.  This paper discusses why a pattern is easier to
recognize when the occluding objects are visible.  A proposed neural network
model, which is an extended version of the neocognitron, can recognize
patterns correctly if the occluding objects are visible.
</p>
</div>

<div class="visiomess_section">
<h4>Keywords</h4>
<p>
Vision, Pattern recognition, Partial occlusion, Neural network model,
Hierarchical network, Neocognitron.  
</p>
</div>

<hr />

<!-- Document -->
<div class="visiomess_section">
<h3>1. Perception of Partly Occluded Patterns</h3>
<p>
Look at patterns in Fig. 1 (click button A below the figure).  You might
have difficulty in recognizing what they are.  If you click button B,
however, you can easily see that they are alphabetical characters that
are partly occluded by gray objects.  The patterns in Fig. 1A, in which
occluding objects are not visible, are almost illegible, but the patterns
in Fig. 1B, in which theoccluding objects are visible, are much easier to
read.  Even after examiningthe patterns in Fig. 1B and knowing what the
occluding objects are, you still have difficulty in perceiving the original
shapes of the patterns in Fig. 1A (click button A again).
</p>

<!-- Fig.1 -->
<div class="visiomess_figure">
  <a id="visiomess_{VSS_COMMON_SUBDIR}_figure1_anchor" href="{VSS_IMAGE_DATA}Fig1A.gif" target="_blank"><img id="visiomess_{VSS_COMMON_SUBDIR}_figure1_img" src="{VSS_IMAGE_DATA}Fig1A.png" alt="Fig1"/></a>
  <div class="visiomess_figure_center">
    <button onclick="return visiomess_swap_image('1', 'A');">A</button>
    <button onclick="return visiomess_swap_image('1', 'B');">B</button><br />
    <span class="visiomess_red">Click buttons A and B.</span>
  </div>
  <p>
    <span class="visiomess_bold">Fig. 1:  Patterns partly occluded by (A) invisible and (B) visible masking objects.</span>
  </p>
  <ul>
    <li>A:  INVISIBLE occluding objects </li>
    <li>B:  VISIBLE occluding objects </li>
  </ul>
</div>

<p>
A pattern usually contains a variety of visual features, such as edges,
corners, and so on.  The visual system extracts, at an early stage, these
local features from the input pattern and then attempts to recognize it.
When a pattern is partly occluded, a number of new features, which did not
exist in the original pattern, are generated near the contour of the
occluding objects.  When the occluding objects are not visible, the visual
system will have difficulty in distinguishing which features are relevant
to the original pattern and which are newly generated by the occlusion.
These irrelevant features will hinder the visual system in recognizing the
occluded pattern correctly.
</p>

<p>
When the occluding objects are visible, however, the visual system can
easily discriminate between relevant and irrelevant features.  The features
extracted near the contours of the occluding objects are apt to be
irrelevant to the occluded pattern and should be ignored when recognizing
the target pattern. If the responses of feature extractors responsible for
the area covered by the occluding objects are suppressed, the signals for
the irrelevant disturbing features will be blocked and will not reach
higher stages of the visual system. Since the visual system usually has
some tolerance to partial absence of local features of the pattern, it
should be able to recognize the occluded pattern correctly if the
disturbing signals from the irrelevant features are blocked.
</p>
</div>


<div class="visiomess_section">
<h3>2. Neural Network Model</h3>
<p>
This paper proposes a neural network model based on the above hypothesis.
The model is an extended version of the neocognitron [Kunihiko Fukushima:
"Neocognitron: a hierarchical neural network capable of visual pattern
recognition", Neural Networks, vol. 1, no. 2, pp. 119-130 (1988)].
The response of the feature-extracting cells whose receptive fields cover
the occluding objects is suppressed in an early stage of the hierarchical
network.  Since the irrelevant features generated by occluding objects are
thus eliminated, the network, which has some tolerance to partial absence
of local features, can recognize occluded patterns correctly.
</p>

<!-- Fig.2 -->
<div class="visiomess_figure">
  <a id="visiomess_{VSS_COMMON_SUBDIR}_figure2_anchor" href="{VSS_IMAGE_DATA}Fig2.gif" target="_blank"><img id="visiomess_{VSS_COMMON_SUBDIR}_figure2_img" src="{VSS_IMAGE_DATA}Fig2.png" alt="Fig2"/></a>
  <p>
    <span class="visiomess_bold">Fig. 2:  The main stream of information processing in the model that can recognize partly occluded patterns.</span>
  </p>
</div> 

<!-- Fig.3 -->
<div class="visiomess_figure">
  <a id="visiomess_{VSS_COMMON_SUBDIR}_figure3_anchor" href="{VSS_IMAGE_DATA}Fig3.gif" target="_blank"><img id="visiomess_{VSS_COMMON_SUBDIR}_figure3_img" src="{VSS_IMAGE_DATA}Fig3.png" alt="Fig3"/></a>
  <p>
    <span class="visiomess_bold">Fig. 3: Architecture of the proposed neural network model. A masker layer U<sub>M</sub>, which detects and responds only to occluding objects, is added to the conventional neocognitron.  The responses to features irrelevant to the occluded pattern are suppressed by the inhibitory signals from the masker layer.</span>
  </p>
</div> 

<!-- Fig.4 -->
<div class="visiomess_figure">
  <a id="visiomess_{VSS_COMMON_SUBDIR}_figure4_anchor" href="{VSS_IMAGE_DATA}Fig4A.gif" target="_blank"><img id="visiomess_{VSS_COMMON_SUBDIR}_figure4_img" src="{VSS_IMAGE_DATA}Fig4A.png" alt="Fig4"/></a>
  <div class="visiomess_figure_center">
    <button onclick="return visiomess_swap_image('4', 'A');">A</button>
    <button onclick="return visiomess_swap_image('4', 'B');">B</button>
    <button onclick="return visiomess_swap_image('4', 'C');">C</button>
    <button onclick="return visiomess_swap_image('4', 'D');">D</button><br />
    <span class="visiomess_red">Click buttons A, B, C and D.</span>
  </div>
  <p>
    <span class="visiomess_bold">Fig. 4:  Typical response of the cells in the network, which has learned to recognize alphabetical characters. </span>
  </p>
  <ul>
    <li>A: Response of the network when the occluding objects are visible. The partly occluded pattern is correctly recognized as 'D'.</li>
    <li>B: Response of the network to an unoccluded complete pattern.</li>
    <li>C: Response of the network when the occluding objects are invisible. The partly occluded input pattern is erroneously recognized as E.</li>
    <li>D: The response of the network when the occluding objects are visible but the masker layer is not working.  The occluded input pattern is erroneously recognized as Q.</li>
  </ul>
</div>
</div>

<div class="visiomess_section">
<h3>3. Perception of a Break in a Line</h3>
<p>
The discussions above give us some hints as to how the brain perceives a
defect in a visual object.  If a part of a pattern, say, a middle part of a 
line, is missing, the visual system seems to detect the break, not from the 
absence of a line component in the broken part, but from information 
explicitly showing the existence of ends-of-line on the border of the break.
</p>

<p>
For example, the black pattern shown in Fig. 5 is perceived differently
depending on the placement of different gray objects. We feel as if lines
extend in the direction of the occluding gray objects. The model, like human
beings, recognizes the patterns in Fig. 5A and 5B as H and E, respectively.
Incidentally, the pattern in Fig. 5C, which does not constitute any character,
is recognized as F by the model.
</p>

<!-- Fig.5 -->
<div class="visiomess_figure">
  <a id="visiomess_{VSS_COMMON_SUBDIR}_figure5_anchor" href="{VSS_IMAGE_DATA}Fig5A.gif" target="_blank"><img id="visiomess_{VSS_COMMON_SUBDIR}_figure5_img" src="{VSS_IMAGE_DATA}Fig5A.png" alt="Fig5"/></a>
  <div class="visiomess_figure_center">
    <button onclick="return visiomess_swap_image('5', 'A');">A</button>
    <button onclick="return visiomess_swap_image('5', 'B');">B</button>
    <button onclick="return visiomess_swap_image('5', 'C');">C</button><br />
    <span class="visiomess_red">Click buttons A, B and C.</span>
  </div>
  <p>
    <span class="visiomess_bold">Fig. 5: The black pattern is perceived differently by the placement of different gray objects.</span>
  </p>
</div>

</div>

<hr />

<div class="visiomess_section">
<h3>Download</h3>

<p>Simulation program in C language.</p>
<p><span class="visiomess_bold">Files</span></p>
<dl>
  <dt>Readme.txt</dt>
  <dd>Explanation: How to run the program</dd>
  <dt>NeoOccl.c</dt>
  <dd>Main program for the simulation</dd>
  <dt>Header.dat</dt>
  <dd>Header for PS or EPS files (to be read during the simulation)</dd>
  <dt>PatLearn.dat</dt>
  <dd>Learning pattern set</dd>
  <dt>PatTest.dat</dt>
  <dd>Test pattern set (target patterns to be occluded)</dd>
  <dt>PatMask.dat</dt>
  <dd>Occluding pattern set</dd>
</dl>
</div>
</patTemplate:tmpl>
