<patTemplate:tmpl name="main">
<h2 class="visiomess_title">
Interactive Illustration of Hough Transform: &#961; = x cos&#952; + y sin&#952;
</h2>

<div class="visiomess_center">
<applet code="Hough.class" archive="?s={VSS_COMMON_SUBDIR}&amp;p=main&amp;a=applet&amp;f=hough.jar" width="650" height="420"></applet>
</div>

<div class="visiomess_session">
<h4>[Usage of this applet]</h4>

<p>Click on the (x, y) plane: draw a sinusoidal curve on the (&#961;, &#952;) plane; &#961; = x<sub>0</sub> cos&#952; + y<sub>0</sub> sin&#952;.</p>

<p>Click on the (&#961;, &#952;) plane: draw a straight line on the (x, y) plane; &#961;<sub>0</sub> = x cos&#952;<sub>0</sub> + y sin&#952;<sub>0</sub>.</p>
</div>


<div class="visiomess_session">
<h4>[Definition in our model]</h4>

<div class="visiomess_figure">
<img src="{VSS_IMAGE_DATA}hough-definition.png" alt="Hough Definition"/>
</div>

</div>
</patTemplate:tmpl>
