<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Algorithm of Local Velocity Detection</h2>

<div class="visiomess_block_center">
<a href="?s={VSS_COMMON_SUBDIR}&amp;p=original">Original Hough Transform (Hough, 1962)</a>
</div>

<div class="visiomess_block_center">
<a href="?s={VSS_COMMON_SUBDIR}&amp;p=hough">Hough Transform (Duda &amp; Hart, 1972)</a>
</div>

<div class="visiomess_block_center">
<a href="?s={VSS_COMMON_SUBDIR}&amp;p=velocity">Local Velocity Detection (Kawakami &amp; Okamoto, 1996)</a>
</div>

<hr />

<div class="visiomess_section">
<ol>
  <li>P.V.C.Hough, "Method and means for recognizing complex patterns", U.S.Patent No.3069654 (1962)</li>
  <li>R.O.Duda and C.E.Hart, "Use of the hough transformation to detect lines and curves in pictures", Communications of the ACM, 15(1), 11-15 (1972)</li>
</ol>
</div>
</patTemplate:tmpl>
