<patTemplate:tmpl name="main">
<h2 class="visiomess_title">Interactive Illustration of Local Velocity Detection Algorithm</h2>

<div class="visiomess_center">
  <applet code="MTmodel.class" archive="?s={VSS_COMMON_SUBDIR}&amp;p=main&amp;a=applet&amp;f=velocity.jar" width="720" height="460"></applet>
</div>

<div class="visiomess_session">
<h4>[Usage of this applet]</h4>

<p>Click points on the lagged and non-lagged (x, y) plane, respectively.</p>

<p>The local velocity, (Vx, Vy), can be detected on the motion-detection cell array through the Hough transform, spatio-temporal correlation, and inverse Hough transform.</p>
</div>
</patTemplate:tmpl>
