<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">AMPA receptor channel kinetics in cerebellar Purkinje cell</h2>
<div class="visiomess_author">
  Kazuhisa Ichikawa<br />
  kazuhisa.ichikawa@fujixerox.co.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Original Report</h4>
<p>
 Kojima, H., Ichikawa, K., Ileva, L.V., Traynelis, S.F., Yoshioka, T., 
"Properties of AMPA receptor channel during long-term depression in rat
cerebellar Purkinje cells", in "Slow Synaptic Responses and modulation"
ed.Kuba, K., Higashida, H., Brown, D.A., and Yoshioka, T., Springer(Tokyo),
2000, pp.307-314.
</p>
</div>

<div class="visiomess_section">
<h4>Purpose of the model</h4>
<p>
AMPA receptor channel current in cerebellar Purkinje cell is modified
according to the induction of long-term depression. The change in the AMPA
receptor channel current is observed in its peak value instead of the time
to peak or decay constant. The purpose of this model is to find which
kinetic parameter is most responsible for the observed change in the AMPA
receptor channel current.
</p>
</div>

<div class="visiomess_section">
<h4>Description of the model</h4>
<p>
AMPA receptor channel (AMPAR) binds two glutamate molecules, and two
glutamate-bound state of AMPAR makes transition to the open state. A,
A.glu, A.2glu, and A* show AMPAR, one glutamate-bound AMPAR, two
glutamate-bound AMPAR , and open AMPAR, respectively (Fig.1). 
</p>

<div class="visiomess_figure">
  <a href="{VSS_IMAGE_DATA}Fig1.JPG" target="_blank"><img src="{VSS_IMAGE_DATA}Fig1.png" alt="Fig1"/></a>
</div>

<p>
AMPAR makes transition to the desensitized states by the prolonged
application of glutamate. Ad.glu, Ad.2glu, and Ad* are desensitized states
of A.glu, A.2glu, and A*, respectively. No desensitized state for
non-glutamate-bound AMPAR (A) is assumed in this model. Rate constants are
calculated partially from the reported literature. The rest of the parameter
values are selected to fit the simulated AMPAR current with the
experimentally observed AMPAR current.  An example of simulated AMPAR is
shown in Fig.2.
</p>

<div class="visiomess_figure">
  <a href="{VSS_IMAGE_DATA}Fig2.JPG" target="_blank"><img src="{VSS_IMAGE_DATA}Fig2.png" alt="Fig2"/></a>
</div>

<p>
Black and red line in Fig.2 show time courses for glutamate and open state
of AMPAR, respectively. The time course of glutamate seems to be single
exponential because of the slow reaction of AMPAR in comparison to the
change in the glutamate concentration. If you want to see the rising phase
of glutamate, you can select shorter full scale for time axis and simulate
on your own computer.
</p>
</div>

<hr />

<div class="visiomess_section">
<h4>How to run</h4>
<ol>
  <li>
This package is run by A-Cell, which was developed by Kazuhisa Ichikawa,
FujiXerox, Co., Ltd. More information about A-Cell can be obtained at the
following site: http://www.fujixerox.co.jp/crc/cng/A-Cell/index.html
A brief explanation for installation and using A-Cell will be found in the
above site. If you want to get A-Cell installation package, you should
write e-mail to A-Cell@fujixerox.co.jp. You will get A-Cell by free after
resistration as an A-Cell user.
  </li>
  <li>
After you get the A-Cell installation package, install A-Cell following the
instruction which is found in readme.txt.
  </li>
  <li>
Copy the "Purkinje_AMPA_receptor.Csim" file in this package to any directory
you want.
  </li>
  <li>
Run A-Cell by cricking the A-Cell icon.
  </li>
  <li>
Open "Purkinje_AMPA_receptor.Csim", and you will find the same graphics as
is shown in Fig.1.
  </li>
  <li>
Simulate the model by using "Online simulation" capability of A-Cell, or
generating stand-alone C program automatically generated by A-Cell using
"generate differntal equations" icon on A-Cell.
  </li>
</ol>
</div>

<div class="visiomess_section">
<h4>References</h4>
<ol>
  <li>
Ichikawa, K., "A-Cell: graphical user interface for the construction of
biochemical reaction models", Bioinformatics Vol.17(2001), pp.483-484.
  </li>
  <li>
Wyllie, D.J.A., , Cull-Candy, S.G., and Black, I.B., "A comparison of
non-NMDA receptor channels in type-2 astrocytes and granule cells from rat
cerebellum", J.Physiol., Vol.475(1994), pp.95-114.
  </li>
  <li>
Jonas, P., Racca, C., and Sakmann, B., "Differences in Ca2+ permeability
of AMPA-type glutamate receptor channels in neocortical neurons caused by
differential GluR-B subunit expression", Neuron, Vol.12(1994), pp.1281-1289.
  </li>
  <li>
Ambros-Ingerson, J., Xiao, and P., Larson, J., "Waveform Analysis Suggests
That LTP Alters the  Kinetics of Synaptic Receptor Channels", Brain Res.,
Vol.620(1993), pp.237-244.
  </li>
</ol>
</div>
</patTemplate:tmpl>
