<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Persistent Na current, fast Na current and Ca current in cultured amacrine cells</h2>
<div class="visiomess_author">
  KOIZUMI Amane, WATANABE Shu-Ichi, KANEKO Akimichi<br />
  amane@physiol.med.keio.ac.jp
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Original Report</h4>
<p>
Persistent Na+ Current and Ca2+ Current Boost Graded Depolarization of Rat
Retinal Amacrine Cells in Culture, J Neurophysiol. (in press)
</p>
</div>

<div class="visiomess_section">
<h4>Synopsis</h4>
<p>
We investigated the contribution of voltage-gated currents on membrane
depolarization by using rat GABAergic amacrine cells in culture recorded
by the patch clamp method. Under the voltage clamp, we identified a
transient Na+ current (fast INa), a TTX-sensitive persistent Na+ current
(INaP) and three types of Ca2+ currents (ICa), L-, N- and the R-type.
</p>
</div>

<div class="visiomess_section">
<h4>About data</h4>
<p>
DATA.zip file contains three ascii format data files, which show the
current-voltage relationships of isolated INaP, fast INa, and ICa recorded
by whole cell patch clamp method in the cultured amacrine cell.
</p>

<pre>
Column A: Command voltages at which the cell was voltage-clamped.(mV)
Column B: Current amplitudes recorded. (A)
Column C: SEMs of the current amplitudes. (A)
</pre>

<dl>
  <dt>INaP.csv</dt>
  <dd>The average current-voltage relationship of INaP. n=12.</dd>
  <dt>fastINa.csv</dt>
  <dd>The average current-voltage relationship of fast INa. n=12.</dd>
  <dt>Ca.csv</dt>
  <dd>The average current-voltage relationship of ICa. n=9.</dd>
</dl>
</div>

<div class="visiomess_section">
<h4>References</h4>
<ol>
  <li>Amane Koizumi, Shu-Ichi Watanabe, Akimichi Kaneko (2001) Persistent Na+ Current and Ca2+ Current Boost Graded Depolarization of Rat Retinal Amacrine Cells in Culture. Journal of Neurophysiology.(in press)</li>
  <li>Shu-Ichi Watanabe, Hiromasa Satoh, Amane Koizumi, Tohru Takayanagi, and Akimichi Kaneko (2000) Tetrodotoxin-sensitive persistent current boosts the depolarization of retinal amacrine cells in goldfish. Neuroscience Letters 278:97-100</li>
</ol>
</div>
</patTemplate:tmpl>
