<patTemplate:tmpl name="main">
<!-- Header -->
<h2 class="visiomess_title">Current clamp simulation of Hodgkin-Huxley Model</h2>
<div class="visiomess_author">
  Hidetoshi IKENO<br />
  ikeno@hept.himeji-tech.ac.jp 
</div>

<hr />

<!-- body -->
<div class="visiomess_section">
<h4>Reference Paper</h4>
<p>A. L. Hodgkin and A. F. Huxley (1952), A quantitative description of membrane current and its application to conduction and excitation in nerve, J. Physiol. (Lond.), Vol.117, 500-544</p>
</div>

<hr />

<!-- main -->
<div class="visiomess_section">
<p>This package contains the following files:</p>
<dl>
  <dt>README.txt</dt>
  <dd>This file.</dd>
  <dt>hh.mdl</dt>
  <dd>Model descriptions written in NCS language.</dd>
  <dt>sim.sl</dt>
  <dd>SATELLITE shell script file for running the model.</dd>
</dl>
</div>

<div class="visiomess_section">
<h4>HOW TO RUN</h4>
<ol>
  <li>
    This package is running with SATELLITE system developed at Biological &amp; Physiological Engineering Laboratory, Toyohashi University of Technology. SATELLITE will be found in the followings:
    <ul>
      <li style="list-style: none outside;">http://satellite.sourceforge.jp/</li>
    </ul>
  </li>
  <li>Put "hh.mdl" and "sim.sl" in the same working directory.</li>
  <li>In the working directory, run SATELLITE by "sl" command.</li>
  <li>Execute the script by "inline("sim.sl")".</li>
</ol>
</div>

<div class="visiomess_section">
<p>For further information, please contact:</p>

<pre>
  Hidetoshi Ikeno (ikeno@hept.himeji-tech.ac.jp)
  School of Humanities for Environmental Policy and Technology,
  Himeji Institute of Technology
  1-1-12 Shinzaike-Honcho, Himeji, Hyogo 670-0092 Japan
</pre>

<p>&#36;Revision: 1.0 &#36; Last updated $Date: 2002/03/28 &#36;</p>
</div>
</patTemplate:tmpl>
