<patTemplate:tmpl name="header">
<script type="text/javascript">
<!--
function visiomess_submit( act ) {
  var prefix = 'visiomess_{VSS_COMMON_SUBDIR}_';
  var el_form = document.getElementById( prefix + 'form' );
  var el_action = document.getElementById( prefix + 'action' );
  el_action.value = act;
  el_form.submit();
  return false;
}
-->
</script>
<!-- Header -->
<h2 class="visiomess_title">Current clamp simulation of Hodgkin-Huxley model</h2>
<p>
To execute Hodgkin-Huxley model simulation, click "Run Script", first. Then, to view simulation results, click "View Results" and select newest results. You can edit NCS model file and SATELLITE script file in oder to modify the model and simulation conditions.
</p>

<div class="visiomess_form">
<form id="visiomess_{VSS_COMMON_SUBDIR}_form" method="post" action="?s={VSS_COMMON_SUBDIR}&amp;p={VSS_COMMON_PAGE}">
  <input id="visiomess_{VSS_COMMON_SUBDIR}_action" type="hidden" name="a" value="default"/>
  <input type="button" onclick="return visiomess_submit('run');" value="Run Script"/>
  &nbsp;
  <input type="button" onclick="return visiomess_submit('view');" value="View Results"/>
  &nbsp;
  <input type="button" onclick="return visiomess_submit('emodel');" value="Edit MDL File"/>
  &nbsp;
  <input type="button" onclick="return visiomess_submit('esl');" value="Edit SL File"/>
  &nbsp;
  <input type="button" onclick="return visiomess_submit('reset');" value="Reset"/>
</form>
</div>

<hr />
</patTemplate:tmpl>
